*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 23%, 69%);
}

main{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 10px;
}

main img{
    height: 250px;
    border-radius: 10px 0 0 10px;
}

.content{
    padding: 20px;
    height: 250px;
}

.content h1{
    font-size: 20px;
    padding: 5px;
}

.content > p{
    font-size: 13px;
    padding: 5px;
}

.author{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.author img{
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.author p{
    font-size: 13px;
}

.author time{
    font-size: 13px;
    color: gray;
}

#share-button{
    position: relative;
    height: 20px;
    left: 90%;
    cursor: pointer;
    background-color: hsla(214, 17%, 51%, 0.138);
}

.share{
    display: inline-flex;
    align-items: center;
    position: absolute;
    width: 200px;
    bottom: 35px;
    left: 232px;
    padding: 5px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 8px;
}

.share p{
    margin-left: 5px;
    margin-right: 10px;
    color: hsl(210, 46%, 95%);
}

.share img{
    padding: 5px;
}

/* responsive  */

@media screen and (max-width: 600px){
    main{
        display: block;
        max-width: 90vw;
    }

    main img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .content{
        height: 100%;
        border-radius: 0 0 10px 10px;
    }

    .author{
        position: static;
    }

    .author img{
        width: 30px;
    }

    #share-button{
        position: absolute;
        height: 20px;
        left: 80%;
        cursor: pointer;
        background-color: hsla(214, 17%, 51%, 0.138);
    }

    .share{
        display: inline-flex;
        align-items: center;
        position: absolute;
        width: 200px;
        bottom: 20%;
        left: 50%;
        padding: 5px;
        background-color: hsl(217, 19%, 35%);
        border-radius: 8px;
    }
}